<div *ngIf="flag && !mobile" class="desktop">
    <br>
    <br>
    <h2>Continue Watching</h2>
    <br>
    <!-- <div class="container text-center my-3">
        <div id="carouselExampleIndicators11" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item row no-gutters active" >
                    <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]">
                        <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                        <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                    </div>
                </div>
                <div class="carousel-item row no-gutters" *ngIf="num>6">
                    <div class="col-3 float-left" *ngFor="let i of [6,7,8,9,10,11]">
                        <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                        <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                    </div>
                </div>
                <div class="carousel-item row no-gutters" *ngIf="num>12">
                    <div class="col-3 float-left" *ngFor="let i of [12,13,14,15,16,17]">
                        <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                        <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                    </div>
                </div>
                <div class="carousel-item row no-gutters" *ngIf="num>18">
                    <div class="col-3 float-left" *ngFor="let i of [18,19,20,21,22,23]">
                        <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                        <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators11" data-slide-to="0" class="active" *ngIf="num>6"></li>
                <li data-target="#carouselExampleIndicators11" data-slide-to="1" *ngIf="num>6"></li>
                <li data-target="#carouselExampleIndicators11" data-slide-to="2" *ngIf="num>12"></li>
                <li data-target="#carouselExampleIndicators11" data-slide-to="3" *ngIf="num>18"></li>
            </ol>
            <a class="carousel-control-prev" href="#carouselExampleIndicators11" role="button" data-slide="prev" *ngIf="num>6">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators11" role="button" data-slide="next" *ngIf="num>6">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div> -->
    <div *ngIf="list.length>=6">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]">
                <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="list.length>=6">
            <div class="col-3 float-left" *ngFor="let i of [6,7,8,9,10,11]">
                <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="list.length>=12">
            <div class="col-3 float-left" *ngFor="let i of [12,13,14,15,16,17]">
                <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
            </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="list.length>=18">
            <div class="col-3 float-left" *ngFor="let i of [18,19,20,21,22,23]">
                <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
            </div>
        </ng-template>
    </ngb-carousel>
    </div>
    <div *ngIf="list.length<6">
        <ngb-carousel [showNavigationIndicators]="false" [showNavigationArrows]="false">
            <ng-template ngbSlide>
                <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]">
                    <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='movie'"><a routerLink='/watch/movie/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                    <div *ngIf="num>i" class="showp"><div *ngIf="list[i].type=='tv'"><a routerLink='/watch/tv/{{list[i].id}}'><img class="img-fluid" src="{{list[i].poster_path}}"><p>{{list[i].title}}</p></a></div></div>
                </div>
            </ng-template>
        </ngb-carousel>
        </div>
</div>

<div *ngIf="flag && mobile" class="mobilee">
    <br>
    <br>
    <h1 style="margin-left: 60px;margin-right: 20px;">Continue Watching</h1>
    <br>
    <ngb-carousel [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let a of list">
            <div *ngIf="a.type=='movie'">
          <a routerLink='/watch/movie/{{a.id}}'>
          <div class="picsum-img-wrapper" style="margin-left: 75px;">
            <img src="{{a.poster_path}}" alt="Random first slide" style="width:260px;">
            <div class="carousel-caption">
                <p>{{a.title}}</p>
              </div>
          </div>
          <!-- <div class="carousel-caption">
            <p>{{a.title}}</p>
          </div> -->
          </a>
          </div>
          <div *ngIf="a.type=='tv'">
            <a routerLink='/watch/tv/{{a.id}}'>
            <div class="picsum-img-wrapper" style="margin-left: 75px;">
              <img src="{{a.poster_path}}" alt="Random first slide" style="width:260px;">
              <div class="carousel-caption">
                <p>{{a.title}}</p>
              </div>
            </div>
            
            </a>
            </div>
        </ng-template>
    </ngb-carousel>


</div>
