<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand navbar-dark" *ngIf="!mobile">
    <a class="navbar-brand" routerLink="/">USC Films</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul ngbNav [(activeId)] = "active" class="navbar-nav mr-auto">
        <li class="nav-item" [ngbNavItem]="1">
          <a ngbNavLink routerLink="/"  >Home</a>
        </li>
        <li class="nav-item" [ngbNavItem]="2">
          <a ngbNavLink routerLink="/mylist">My List</a>
        </li>
      </ul>

      <ng-template #rt let-r="result" let-t="term">
        <!-- <div (click)="refresh()"> -->
        <a routerLink="/watch/movie/{{r.id}}" *ngIf="r.media_type=='movie'" >
          <img [src]="r['backdrop_path']" class="mr-1" style="width: 66px;margin-right: 20px!important;">
          <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
        </a>
      <!-- </div> -->
        <!-- <div  (click)="refresh()"> -->
        <a routerLink="/watch/tv/{{r.id}}" *ngIf="r.media_type=='tv'">
          <img [src]="r['backdrop_path']" class="mr-1" style="width: 66px;margin-right: 20px!important;">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </a>
      <!-- </div> -->
      </ng-template>
      <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
        [inputFormatter]="formatter" placeholder="Search" />
        <!-- <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayNull" (optionSelected)="selectHandler($event)"> -->
    </div>
  </nav>
  <nav class="navbar navbar-dark" *ngIf="mobile">
    <a class="navbar-brand" routerLink="/">USC Films</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
      <ul ngbNav [(activeId)] = "active" class="navbar-nav mr-auto" style="text-align: right;">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mylist">My List</a>
        </li>
      </ul>
      <!-- <ul ngbNav [(activeId)] = "active" class="navbar-nav mr-auto" style="text-align: right;">
        <li class="nav-item" [ngbNavItem]="1">
          <a ngbNavLink routerLink="/"  >Home</a>
        </li>
        <li class="nav-item" [ngbNavItem]="2">
          <a ngbNavLink routerLink="/mylist">My List</a>
        </li>
      </ul> -->
      <ng-template #rt let-r="result" let-t="term">
        <!-- <div (click)="refresh()"> -->
        <a routerLink="/watch/movie/{{r.id}}" *ngIf="r.media_type=='movie'" >
          <img [src]="r['backdrop_path']" class="mr-1" style="width: 66px;margin-right: 20px!important;">
          <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
        </a>
      <!-- </div> -->
        <!-- <div (click)="refresh()"> -->
        <a routerLink="/watch/tv/{{r.id}}" *ngIf="r.media_type=='tv'">
          <img [src]="r['backdrop_path']" class="mr-1" style="width: 66px;margin-right: 20px!important;">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </a>
      <!-- </div> -->
      </ng-template>
      <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
        [inputFormatter]="formatter" placeholder="Search" />
    </div>
  </nav>