/* .card,.card-body {
    
    overflow:hidden;
    width:200px;
} */

.desktop ::ng-deep .carousel-indicators{
    bottom:-20px;
}
.desktop ::ng-deep .carousel-control-prev {
    margin-left:-100px;
}
.desktop ::ng-deep .carousel-control-next{
    margin-right:-50px;
}
.desktop ::ng-deep .col-3{
    width:175px;
    /* margin-left: 1px;
    margin-right:1px; */
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    /* overflow:visible; */
    height:260px;
}
div.cardall{
    flex-direction:row;
    display: inline-block !important;
    margin-right: 7px;
    margin-left:7px;
    border-radius: 15px;
    overflow:hidden;
    /* margin-bottom: 14px; */
    cursor: pointer;
    
}
.card-img-top{
    overflow:hidden;
    margin-bottom: 120px;
}
.card-body{
    overflow:visible;
    width:170px;
    color:black;
    text-align:center;
    bottom:0;
    position:absolute;
    background-color:white;
    white-space: normal;
    /* margin-bottom: 0; */
    /* margin-top: 10px; */
}

.card{
    border:0px;
    overflow:hidden;
    white-space: normal;
    /* height: 300px; */
    /* height:380px; */
}
.scroll{
    overflow-x: auto;
    overflow-y:hidden;
    white-space: nowrap;
    /* max-height:980px; */
}
/* app-ytbplayer{
    display:inline-block;
}
.sdes{
    display:inline-block;
    margin-left:60px;
    margin-top:20px;
    width:350px;
    height:360px;
    position:absolute;
    color:#949498;
} */
/* .card-text{
    word-wrap: break-word;
    word-break:break-all;
    text-align:center;
    max-width:140px;
    overflow:visible;
} */

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:darkgrey;
    
}

.scroll::-webkit-scrollbar {
    width: 12px;
    background-color:#2E2F30;
    border-radius: 10px;
    height:10px;
}


.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: black;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}
#birth a{
    text-decoration: none;
}
#birth{
    display: inline-block;
    margin-left:30px;
    color:black;
    max-width:560px;
}
.modal-body img{
    display:inline-block;
    width:150px;
    vertical-align:top;
}
#birth p{
    margin-bottom: 0px;
}
.dark-modal .modal-content{
    color:black;
    background-color:white;
}
.modal-body{
    overflow-y: auto;
    max-height: 650px;
    /* min-height: 690px; */
}
.reviews{
    border-radius: 15px;
    color:black;
    background-color:white;
    overflow:hidden;
    /* display:inline-block; */
    margin-bottom: 20px;
    /* width:auto; */
}
.reviews img{
    width:100px;
    display:inline-block;
    margin-left:30px;
    margin-top:30px;
    vertical-align: top;
}
.revcont{
    display:inline-block;
    margin-left: 50px;
    margin-bottom: 30px;
}
.revcont a{
    text-decoration:underline;
}
.rate{
    display:inline-block;
    border-radius: 15px;
    color:white;
    background-color:black;
    width:50px;
    text-align:center;
}
.mobile.col-3{
    width:150px;
    margin-left: 17px;
    margin-right:11px;
    margin-top:10px;
    margin-bottom:10px;
}
.col-3 p{
    margin-top: -45px;
    font-size: 15px;
    display:none;
}
.col-3:hover{
    
	transform: scale(1.1);
}
.col-3:hover p{
    display:block;
}
.col-3:hover img{
    mask-image:-webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.75),rgba(0,0,0,0),rgba(0,0,0,0));
}
.carousel-indicators{
    top:240px;
}
.my-3{
    height:230px;
}
.carousel-control-prev{
    left:-80px;
}
.carousel-control-next{
    right:-80px;
}
.col-3 a{
    text-decoration: none;
    color:white;
}
.btn{
    min-height: 30px;
    margin-top: 20px;
    color: white;
    background-color:rgb(0, 162, 255);
    font-size: 13px;
    outline: none;
    margin-bottom:20px;
}
/* ngb-alert{
    margin-top:-20px;
} */
/* p{
    font-size:22px;
} */
h1{
    margin-left: 60px;
}



.mobile ngb-carousel{
    /* height:230px; */
    /* align-items: center; */
    width:400px;
    /* margin-left:0px; */
}
.picsum-img-wrapper p{
    display: block;
    text-align:left;
    margin-left: 50px;
}

/* .carousel-caption{
    display:none;
} */
/* ngb-carousel:hover .carousel-caption{
    display:block;
    text-align:left;
    left:55px;
    font-size: 12px;
} */
.mobile ngb-carousel{
    height:410px;
}
.picsum-img-wrapper{
    margin-left: 65px;
}
ngb-carousel img{
    width:280px;
    /* height:300px; */
    object-fit: cover;
    margin-top:10px;
    margin-bottom:10px;
}
.picsum-img-wrapper img{
    mask-image:-webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.75),rgba(0,0,0,0),rgba(0,0,0,0));
}
ngb-carousel h1{
    margin-left: 50px;
    margin-right:22px;
}
.picsum-img-wrapper:hover img{
    
	transform: scale(1.1);
}
ngb-carousel:focus{
    outline:none;
}