<div *ngIf="popular.length>0">
<br>
<br>
<h1>Popular Movies</h1>
<br>
    <ngb-carousel [showNavigationIndicators]="false">
        <ng-template ngbSlide *ngFor="let a of popular">
          <a routerLink='/watch/movie/{{a.id}}'>
          <div class="picsum-img-wrapper">
            <img src="{{a.poster_path}}" alt="Random first slide">
            <div class="carousel-caption">
              <p>{{a.title}}</p>
            </div>
          </div>
          
          </a>
        </ng-template>
    </ngb-carousel>
  </div>
    <div *ngIf="toprated.length>0">
      <br>
      <br>
      <h1>Top Rated Movies</h1>
      <br>
    <ngb-carousel [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let a of toprated">
        <a routerLink='/watch/movie/{{a.id}}'>
        <div class="picsum-img-wrapper">
          <img src="{{a.poster_path}}" alt="Random first slide">
          <div class="carousel-caption">
            <p>{{a.title}}</p>
          </div>
        </div>
        
        </a>
      </ng-template>
  </ngb-carousel>
  </div>
  <div *ngIf="trending.length>0">
    <br>
    <br>
    <h1>Trending Movies</h1>
    <br>
  <ngb-carousel [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let a of trending">
      <a routerLink='/watch/movie/{{a.id}}'>
      <div class="picsum-img-wrapper">
        <img src="{{a.poster_path}}" alt="Random first slide">
        <div class="carousel-caption">
          <p>{{a.title}}</p>
        </div>
      </div>
      
      </a>
    </ng-template>
</ngb-carousel>
</div>