<div class="container" *ngIf="num>0">
    <h2 style="text-align:left;">My WatchList</h2>
    <br>
</div>

<div class="container" *ngIf="num>0 && !mobile">
<div class="card" *ngFor="let b of list;let i = index">
    <div *ngIf="i<num && b.type=='movie'">
    <a routerLink='/watch/movie/{{b.id}}'>
        <img src="{{b.poster_path}}" alt="Card image cap">
        <div class="card-text">
            <p>{{b.title}}</p>
        </div>
    </a>    
    </div>
    <div *ngIf="i<num && b.type=='tv'">
        <a routerLink='/watch/tv/{{b.id}}'>
            <img src="{{b.poster_path}}" alt="Card image cap">
            <div class="card-text">
                <p>{{b.title}}</p>
            </div>
        </a>    
    </div>
</div>
</div>
<div class="container" *ngIf="num>0 && mobile" style="margin-left:46px;width:280px;">
    <div class="card" *ngFor="let b of list;let i = index" style="width:280px!important;height:420px;margin-bottom: 50px;">
        <div *ngIf="i<num && b.type=='movie'">
        <a routerLink='/watch/movie/{{b.id}}'>
            <img src="{{b.poster_path}}" alt="Card image cap" style="width:280px;-webkit-mask-image:-webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.75),rgba(0,0,0,0),rgba(0,0,0,0))!important;">
            <div class="card-text" style="width:350px;display: block;">
                <p>{{b.title}}</p>
            </div>
        </a>
    </div>
    <div *ngIf="i<num && b.type=='tv'">
        <a routerLink='/watch/tv/{{b.id}}'>
            <img src="{{b.poster_path}}" alt="Card image cap" style="width:280px;-webkit-mask-image:-webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.75),rgba(0,0,0,0),rgba(0,0,0,0))!important;">
            <div class="card-text">
                <p>{{b.title}}</p>
            </div>
        </a>    
    </div>
    </div>
    </div>
    <div class="container" *ngIf="num==0">
        <br>
        <h2 style="text-align:center;">No items found in Watchlist.</h2>
    </div>

    <style *ngIf="mobile">
        .card p{
            display:block;
            text-align:center;
            /* margin-left: 40px; */
        }
    </style>