
<div *ngIf="!mobile" class="desktop">
<br>
<div *ngIf="popular.length>0">
<br>
<br>
<h2>Popular Movies</h2>
<br>
<!-- <div class="container text-center my-3">
  <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item row no-gutters active" >
                <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]"><a routerLink='/watch/movie/{{popular[i].id}}' *ngIf="popular.length>=i+1"><img class="img-fluid" src="{{popular[i].poster_path}}"><p>{{popular[i].title}}</p></a></div>
            </div>
            <div class="carousel-item row no-gutters" *ngIf="popular.length>=6">
                <div class="col-3 float-left" *ngFor="let i of [6,7,8,9,10,11]"><a routerLink='/watch/movie/{{popular[i].id}}' *ngIf="popular.length>=i+1"><img class="img-fluid" src="{{popular[i].poster_path}}"><p>{{popular[i].title}}</p></a></div>
            </div>
            <div class="carousel-item row no-gutters" *ngIf="popular.length>=12">
                <div class="col-3 float-left" *ngFor="let i of [12,13,14,15,16,17]"><a routerLink='/watch/movie/{{popular[i].id}}' *ngIf="popular.length>=i+1"><img class="img-fluid" src="{{popular[i].poster_path}}"><p>{{popular[i].title}}</p></a></div>
            </div>
            <div class="carousel-item row no-gutters" *ngIf="popular.length>=18">
                <div class="col-3 float-left" *ngFor="let i of [18,19,20,21,22,23]"><a routerLink='/watch/movie/{{popular[i].id}}' *ngIf="popular.length>=i+1"><img class="img-fluid" src="{{popular[i].poster_path}}"><p>{{popular[i].title}}</p></a></div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="1" *ngIf="popular.length>=6"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="2" *ngIf="popular.length>=12"></li>
            <li data-target="#carouselExampleIndicators1" data-slide-to="3" *ngIf="popular.length>=18"></li>
        </ol>
        <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> -->
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]"><a routerLink='/watch/movie/{{popular[i].id}}' *ngIf="popular.length>=i+1"><img class="img-fluid" src="{{popular[i].poster_path}}"><p>{{popular[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="popular.length>=6">
        <div class="col-3 float-left" *ngFor="let i of [6,7,8,9,10,11]"><a routerLink='/watch/movie/{{popular[i].id}}' *ngIf="popular.length>=i+1"><img class="img-fluid" src="{{popular[i].poster_path}}"><p>{{popular[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="popular.length>=12">
        <div class="col-3 float-left" *ngFor="let i of [12,13,14,15,16,17]"><a routerLink='/watch/movie/{{popular[i].id}}' *ngIf="popular.length>=i+1"><img class="img-fluid" src="{{popular[i].poster_path}}"><p>{{popular[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="popular.length>=18">
        <div class="col-3 float-left" *ngFor="let i of [18,19,20,21,22,23]"><a routerLink='/watch/movie/{{popular[i].id}}' *ngIf="popular.length>=i+1"><img class="img-fluid" src="{{popular[i].poster_path}}"><p>{{popular[i].title}}</p></a></div>
    </ng-template>
</ngb-carousel>
</div>
<div *ngIf="toprated.length>0">
<br>
<br>
<h2>Top Rated Movies</h2>
<br>
<!-- <div class="container text-center my-3">
    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
          
          <div class="carousel-inner w-100" role="listbox">
              <div class="carousel-item row no-gutters active" >
                  <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]"><a routerLink='/watch/movie/{{toprated[i].id}}' *ngIf="toprated.length>=i+1"><img class="img-fluid" src="{{toprated[i].poster_path}}"><p>{{toprated[i].title}}</p></a></div>
              </div>
              <div class="carousel-item row no-gutters" *ngIf="toprated.length>=6">
                  <div class="col-3 float-left" *ngFor="let i of [6,7,8,9,10,11]"><a routerLink='/watch/movie/{{toprated[i].id}}' *ngIf="toprated.length>=i+1"><img class="img-fluid" src="{{toprated[i].poster_path}}"><p>{{toprated[i].title}}</p></a></div>
              </div>
              <div class="carousel-item row no-gutters" *ngIf="toprated.length>=12">
                  <div class="col-3 float-left" *ngFor="let i of [12,13,14,15,16,17]"><a routerLink='/watch/movie/{{toprated[i].id}}' *ngIf="toprated.length>=i+1"><img class="img-fluid" src="{{toprated[i].poster_path}}"><p>{{toprated[i].title}}</p></a></div>
              </div>
              <div class="carousel-item row no-gutters" *ngIf="toprated.length>=18">
                  <div class="col-3 float-left" *ngFor="let i of [18,19,20,21,22,23]"><a routerLink='/watch/movie/{{toprated[i].id}}' *ngIf="toprated.length>=i+1"><img class="img-fluid" src="{{toprated[i].poster_path}}"><p>{{toprated[i].title}}</p></a></div>
              </div>
          </div>
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="1" *ngIf="toprated.length>=6"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="2" *ngIf="toprated.length>=12"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="3" *ngIf="toprated.length>=18"></li>
          </ol>
          <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div> -->
  <ngb-carousel>
    <ng-template ngbSlide>
        <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]"><a routerLink='/watch/movie/{{toprated[i].id}}' *ngIf="toprated.length>=i+1"><img class="img-fluid" src="{{toprated[i].poster_path}}"><p>{{toprated[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="toprated.length>=6">
        <div class="col-3 float-left" *ngFor="let i of [6,7,8,9,10,11]"><a routerLink='/watch/movie/{{toprated[i].id}}' *ngIf="toprated.length>=i+1"><img class="img-fluid" src="{{toprated[i].poster_path}}"><p>{{toprated[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="toprated.length>=12">
        <div class="col-3 float-left" *ngFor="let i of [12,13,14,15,16,17]"><a routerLink='/watch/movie/{{toprated[i].id}}' *ngIf="toprated.length>=i+1"><img class="img-fluid" src="{{toprated[i].poster_path}}"><p>{{toprated[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="toprated.length>=18">
        <div class="col-3 float-left" *ngFor="let i of [18,19,20,21,22,23]"><a routerLink='/watch/movie/{{toprated[i].id}}' *ngIf="toprated.length>=i+1"><img class="img-fluid" src="{{toprated[i].poster_path}}"><p>{{toprated[i].title}}</p></a></div>
    </ng-template>
</ngb-carousel>
  </div>
  <div *ngIf="trending.length>0">
  <br>
  <br>
  <h2>Trending Movies</h2>
  <br>
  <!-- <div class="container text-center my-3">
      <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item row no-gutters active" >
                    <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]"><a routerLink='/watch/movie/{{trending[i].id}}' *ngIf="trending.length>=i+1"><img class="img-fluid" src="{{trending[i].poster_path}}"><p>{{trending[i].title}}</p></a></div>
                </div>
                <div class="carousel-item row no-gutters" *ngIf="trending.length>=6">
                    <div class="col-3 float-left" *ngFor="let i of [6,7,8,9,10,11]"><a routerLink='/watch/movie/{{trending[i].id}}' *ngIf="trending.length>=i+1"><img class="img-fluid" src="{{trending[i].poster_path}}"><p>{{trending[i].title}}</p></a></div>
                </div>
                <div class="carousel-item row no-gutters" *ngIf="trending.length>=12">
                    <div class="col-3 float-left" *ngFor="let i of [12,13,14,15,16,17]"><a routerLink='/watch/movie/{{trending[i].id}}' *ngIf="trending.length>=i+1"><img class="img-fluid" src="{{trending[i].poster_path}}"><p>{{trending[i].title}}</p></a></div>
                </div>
                <div class="carousel-item row no-gutters" *ngIf="trending.length>=18">
                    <div class="col-3 float-left" *ngFor="let i of [18,19,20,21,22,23]"><a routerLink='/watch/movie/{{trending[i].id}}' *ngIf="trending.length>=i+1"><img class="img-fluid" src="{{trending[i].poster_path}}"><p>{{trending[i].title}}</p></a></div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="1" *ngIf="trending.length>=6"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="2" *ngIf="trending.length>=12"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="3" *ngIf="trending.length>=18"></li>
            </ol>
            <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div> -->
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="col-3 float-left" *ngFor="let i of [0,1,2,3,4,5]"><a routerLink='/watch/movie/{{trending[i].id}}' *ngIf="trending.length>=i+1"><img class="img-fluid" src="{{trending[i].poster_path}}"><p>{{trending[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="trending.length>=6">
        <div class="col-3 float-left" *ngFor="let i of [6,7,8,9,10,11]"><a routerLink='/watch/movie/{{trending[i].id}}' *ngIf="trending.length>=i+1"><img class="img-fluid" src="{{trending[i].poster_path}}"><p>{{trending[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="trending.length>=12">
        <div class="col-3 float-left" *ngFor="let i of [12,13,14,15,16,17]"><a routerLink='/watch/movie/{{trending[i].id}}' *ngIf="trending.length>=i+1"><img class="img-fluid" src="{{trending[i].poster_path}}"><p>{{trending[i].title}}</p></a></div>
    </ng-template>
    <ng-template ngbSlide *ngIf="trending.length>=18">
        <div class="col-3 float-left" *ngFor="let i of [18,19,20,21,22,23]"><a routerLink='/watch/movie/{{trending[i].id}}' *ngIf="trending.length>=i+1"><img class="img-fluid" src="{{trending[i].poster_path}}"><p>{{trending[i].title}}</p></a></div>
    </ng-template>
</ngb-carousel>
</div>